/* Login.css */
.login-background {
    background-image: url('../../assets/images/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(1); /* Make the image slightly darker */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
