.absent-row {
    background-color: #ffe6e6; /* Light red background to indicate absence */
    color: #ff0000; /* Red text to make it more visible */
}

.specialDate-row {
    background-color: #ddf3aa; /* Light red background to indicate absence */
}

.time-side-background {
    background-image: url('../../assets/images/time.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(2); /* Make the image slightly darker */
    width: 100%;
    height: 100vh;

}