.active > li {
    @apply bg-orange-500 hover:bg-orange-400 text-black;
}

header {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none; 
    background-color: #2d3748;
}

nav {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none; 
    background-color: #2d3748; 
}

li {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none; 
}




